<!DOCTYPE html>
<html lang="en" class="bg-offwhite h-full overflow-x-hidden">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="/assets/fontawesome-free/css/fontawesome.css" rel="stylesheet">
  <!-- <link href="/assets/css/brands.css" rel="stylesheet"> -->
  <link href="/assets/fontawesome-free/css/solid.css" rel="stylesheet">
  <link href="/assets/fontawesome-free/css/regular.css" rel="stylesheet">
  <title><%= title %></title>
</head>

<body class="flex flex-col h-full">
  <header class="flex justify-end bg-primary py-2 px-10 text-offwhite space-x-10">
    <%if(user) {%>
      <a href="/">Home</a>
    <a href="/dashboard/readings">Saved Readings</a>
    <a href="/signout"> Sign Out</a>
    <%} else {%>
    <a href="/signin"> Sign In</a>
    <a href="/signup"> Sign Up</a>
    <%}%>
  </header>
  <!-- class='content' to ensure footer is always at the bottom even when page content doesn't extend the page's length -->
  <div class="content">