<!DOCTYPE html>
<html lang="en" class="bg-base-100 h-full overflow-x-hidden" data-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link href="/assets/fontawesome-free/css/fontawesome.css" rel="stylesheet">
  <!-- <link href="/assets/css/brands.css" rel="stylesheet"> -->
  <link href="/assets/fontawesome-free/css/solid.css" rel="stylesheet">
  <link href="/assets/fontawesome-free/css/regular.css" rel="stylesheet">


  <title><%= title %></title>
</head>

<body class="flex flex-col h-full text-primary-content">
  <header class="flex justify-end bg-primary py-2 px-10 text-primary-content gap-8">
    <a href="/" class="hover:text-primary-focus">Home</a>

    <%if(user) {%>
    <a href="/dashboard/readings" class="hover:text-primary-focus">Saved Readings</a>
    <a href="/signout" class="hover:text-primary-focus"> Sign Out</a>
    <%} else {%>
    <!-- <a href="/signin" class="hover:text-primary-focus"> Sign In</a> -->
    <label for="signin" class="hover:text-primary-focus cursor-pointer">Sign In</label>
    <input type="checkbox" id="signin" class="modal-toggle">
      <%- include('signin-partial') -%>

    <!-- <a href="/signup" class="hover:text-primary-focus"> Sign Up</a> -->
    <label for="signup" class="hover:text-primary-focus cursor-pointer">Sign Up</label>
    <input type="checkbox" id="signup" class="modal-toggle">
    <%- include('signup-partial') -%>
    <%}%>
  </header>
  <!-- class='content' to ensure footer is always at the bottom even when page content doesn't extend the page's length -->
  <div class="content">