<%- include('partials/header', {title: 'Tarot Journal Home'}) -%>

<h1 class="text-5x1 font-bold text-center my-5"><%=user.username-%>'s Readings</h1>

<main class="hero my-10">
    <section class="flex justify-around w-3/4">
        <article class="card w-1/3 border-primary border-2 tarot-container items-center justify-center">
            <span> Past </span>
        </article>
        <article class="card w-1/3 border-primary border-2 tarot-container items-center justify-center">
            <span> Present </span>
        </article>
        <article class="card w-1/3 border-primary border-2 tarot-container items-center justify-center">
            <span> Future </span>
        </article>
    </section>
</main>

<%if(user.access=='admin') {%>
<section class="flex justify-center">
    <span class="text-5x1 font-bold my-5 btn btn-primary"><a href="/admin/edit-collection">Add Card</a></span>
</section>
<%}%>

<%- include('partials/footer') -%>

<script src="/js/main.js"></script>
</body>

</html>