<%- include('partials/header', {title: 'Tarot Journal Home' }) -%>

<h1 class="text-5x1 font-bold text-center my-5"><%=user.username-%>'s Readings</h1>

<section class="flex justify-center">
    <span class="text-5x1 font-bold my-1 btn btn-primary">
        <a href=<% user ? "/user/save-reading" : "/login"%>>
            Save Reading
        </a>
    </span>
</section>

<main class="hero my-10">
    <section class="flex justify-around mx-8 gap-6">
        <section class="flex flex-col" id="deck-container">
            <article class="card tarot-container items-center justify-center">
                <img src="" alt="Deck" id="deck-image" class="object-cover">
            </article>
            <select name="cardback-select" id="cardback-select" class="mt-4"></select>
        </section>

        <section class="flex flex-col">
            <section class="flex gap-2">
                <article class="card w-1/3 border-primary border-2 tarot-container items-center justify-center"
                    id="spread-position-past">
                    <span> Past </span>
                </article>
                <article class="card w-1/3 border-primary border-2 tarot-container items-center justify-center"
                    id="spread-position-present">
                    <span> Present </span>
                </article>
                <article class="card w-1/3 border-primary border-2 tarot-container items-center justify-center"
                    id="spread-position-future">
                    <span> Future </span>
                </article>
            </section>
            <select name="cardface-select" id="cardface-select" class="mt-4 w-fit">

            </select>
        </section>
    </section>
</main>

<section class="flex justify-center gap-3" id="reading-description">
    <article id="slot-description" class="border-2 border-primary w-1/3 flex justify-center">
        <p class="font-bold"> Slot description</p>
        <p id="slot-description-text"></p>

    </article>
    <article id="card-description" class="border-2 border-primary w-3/5 text-center">
        <p class="font-bold italic">Card description</p>
        <p>
            <span id="card-number" class="font-bold"></span> <span id="card-suit" class="font-bold"></span>
        </p>
        <p id="up-keywords" class="italic"></p>
        <p id="up-description" class="description text-left"></p>
        <p id="saysReversed" class="font-bold italic hidden mt-4">Reversed</p>
        <p id="rev-keywords" class="italic"></p>
        <p id="rev-description" class="description text-left"></p>
    </article>
</section>




<%if(user.access=='admin') {%> <section class="flex justify-center">
    <fieldset class="border-primary border-2 w-3/4 flex justify-center">
        <legend class="mx-2">Admin Tools</legend>
        <span class="text-5x1 font-bold my-4 btn btn-primary"><a href="/admin/edit-collection">Add
                Card</a></span>
    </fieldset>
</section>
<%}%>

<%- include('partials/footer') -%>

<script src="/js/main.js"></script>
</body>

</html>