<%- include('partials/header', {title: 'Tarot Journal Home', user: user }) -%>

<form action="dashboard/save-reading" id="interpretation-window" method="POST"
    data-username='<%=user ? user.username : '' %>'
    class="z-40 w-1/3 draggable interpretation-window border-4 rounded-md border-primary bg-base-100 flex flex-col">

    <div id="interpretation-window-header" class="bg-primary text-center py-2 cursor-move">
        <i class="fa-solid fa-window-maximize fa-lg cursor-pointer absolute right-0 mr-3 mt-3"
            id="interpretation-minimize"></i>
        <h3> Interpretation</h3>
    </div>

    <section class="interpretation-body flex flex-col mx-3" id="interpretation-body-container">
        <label for="question">Question</label>
        <textarea name="question" class='bg-base-200 focus:border-accent focus:ring-accent' id="querent-question"
            cols="30" rows="1" placeholder="What question do you have for the cards?"></textarea>

        <div class="interpretation-body flex flex-col hide mt-4" id="interpretation-body">
            <div class="flex gap-2">
                <label for="interpretationPast">Past:</label>
                <span id="pastInterpretationCard"></span>
            </div>
            <input type="hidden" name="pastInterpretationCardId" id='pastInterpretationCardId'
                class='interpretation-card-id bg-base-200'>
            <textarea name="interpretationPast" class="bg-base-200 focus:border-accent focus:ring-accent"
                id="interpretationPast" cols="30" rows="1"></textarea>

            <div class="flex gap-2">
                <label for="interpretationPresent">Present:</label>
                <span id="presentInterpretationCard"></span>
            </div>
            <input type="hidden" name="presentInterpretationCardId" id='presentInterpretationCardId'
                class='interpretation-card-id'>
            <textarea name="interpretationPresent" class="bg-base-200 focus:border-accent focus:ring-accent"
                id="interpretationPresent" cols="30" rows="1"></textarea>

            <div class="flex gap-2">
                <label for="interpretationFuture">Future:</label>
                <span id="futureInterpretationCard"></span>
            </div>
            <input type="hidden" name="futureInterpretationCardId" id='futureInterpretationCardId'
                class='interpretation-card-id'>
            <textarea name="interpretationFuture" class="bg-base-200 focus:border-accent focus:ring-accent"
                id="interpretationFuture" cols="30" rows="1"></textarea>
        </div>
    </section>
    <button type="submit" id="interpretation-submit"
        class="text-5x1 font-bold btn btn-primary m-5 border border-accent hover:text-primary">Submit</button>
</form>

<h1 class="text-xl font-bold text-center my-5">
    <%if(user) {%>
    Tarot Reading for <%=user.username-%></h1>
<%} else {%>
Your Reading
<%}%>
</h1>

<main class="flex mb-10">
    <div class="flex flex-col gap-6" id="spread-container">
        <div class="flex justify-center">
            <select name="spread-select" id="spread-select" class="mt-4 bg-base-200"></select>
        </div>

        <div class="flex justify-center" id="spread-cards-container">
            <section class="flex justify-around mx-8 gap-6">
                <section class="flex flex-col" id="deck-container">
                    <article class="card tarot-container items-center justify-center deck-container">
                        <img src="" alt="Deck" id="deck-image" class="object-fill">
                    </article>
                    <select name="cardback-select" id="cardback-select" class="mt-4 bg-base-200 tarot-width"
                        onchange="setCardbacks(this.value)">
                    </select>
                </section>

                <section class="flex flex-col">
                    <section class="flex gap-2">
                        <article
                            class="card border-accent border-2 tarot-container slot-container items-center justify-center"
                            id="spread-position-past" data-spread-position="past">
                            <span class="pointer-events-none"> Past </span>
                        </article>
                        <article
                            class="card border-accent border-2 tarot-container slot-container items-center justify-center"
                            id="spread-position-present" data-spread-position="present">
                            <span class="pointer-events-none"> Present </span>
                        </article>
                        <article
                            class="card border-accent border-2 tarot-container slot-container items-center justify-center"
                            id="spread-position-future" data-spread-position="future">
                            <span class="pointer-events-none"> Future </span>
                        </article>
                    </section>
                    <select name="cardface-select" id="cardface-select" class="mt-4 bg-base-200 double-tarot-width"></select>
                </section>
            </section>
        </div>
    </div>

    <section class="flex flex-col justify-center gap-3 w-1/3 mt-6 reading-description-container"
        id="reading-description">
        <article id="slot-description" class="reading-description-textbox h-1/3">
            <p class="descriptor-text"> Slot description</p>
            <p id="slot-title" class="font-bold capitalize"></p>
            <p id="slot-description-text" class="text-left"></p>

        </article>
        <article id="card-description" class="reading-description-textbox h-2/3">
            <p class="descriptor-text">Card description</p>
            <p id="card-number" class="font-bold"></p>
            <p id="card-suit" class="font-bold"></p>
            <p id="up-keywords" class="italic"></p>
            <p id="up-description" class="description text-left"></p>
            <section class="bg-primary px-2 relative rounded-md" id="reversed-container">
                <p id="saysReversed" class="font-bold italic hidden mt-4">Reversed</p>
                <p id="rev-keywords" class="italic"></p>
                <p id="rev-description" class="description text-left"></p>
            </section>
        </article>
    </section>
</main>

<%if(user && user.access=='admin') {%> <section class="flex justify-center">
    <fieldset class="border-primary border-2 w-3/4 flex justify-center">
        <legend class="mx-2">Admin Tools</legend>
        <span class="text-5x1 font-bold my-4 btn btn-primary"><a href="/admin/edit-collection">Add
                Card</a></span>
    </fieldset>
</section>
<%}%>

<%- include('partials/footer') -%>
<script src="/js/main.js"></script>
</body>

</html>