@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tarot-height: calc(4.75rem / 16);
    --tarot-width: calc(2.75rem / 16);
    --tarot-scale: 75;
    --browse-scale: 50;
}

body {
    background-color: hsla(51, 100%, 98%, 1);
}

.tarot-container {
    width: calc(var(--tarot-scale) * var(--tarot-width));
    height: calc(var(--tarot-scale) * var(--tarot-height));
    flex-shrink: 0;
}

.description {
    white-space: pre-line;
}

.browse-thumbnail {
    width: calc(var(--browse-scale) * var(--tarot-width));
    height: calc(var(--browse-scale) * var(--tarot-height));
    float: left;
    margin: 1rem 2rem 0 0;
}